<div id="filter-panel" class="collapse filter-panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= search_form_for @search do |f| %>
                <div class="col-md-3">
                    <label><%= t('.type')%></label>
                    <%= f.select :kind_cont, [["Tipo Oferta 1", "oferta1"],["Tipo Oferta 2", "oferta2"]], {prompt: "Seleccione Tipo Oferta"}, {class: "form-control"}%>
                </div>
                <div class="col-md-3">
                    <label><%= t('.product')%></label>
                    <%= f.search_field(:product_cont, class: 'filterrific-periodically-observed') %>
                </div>
                <div class="col-md-3">
                    <label><%= t('.origins')%></label>
                    <%= f.search_field(:origins_cont, class: 'filterrific-periodically-observed') %>
                </div>
                <div class="col-md-3">
                    <label><%= t('.destination')%></label>
                    <%= f.search_field(:destination_cont,class: 'filterrific-periodically-observed') %>
                </div>
                 
                <div class="col-md-3">
                    <label><%= t('.service_start_date')%></label>
                    <%= f.search_field(:service_start_date_eq, class: 'date filterrific-periodically-observed') %>
                </div>
                <div class="col-md-3">
                    <label><%= t('.service_finish_date')%></label>
                    <%= f.search_field(:service_finish_date_eq, class: 'date filterrific-periodically-observed') %>
                </div>
                <div class="col-md-3">
                    <label><%= t('.offer_start_date')%></label>
                    <%= f.search_field(:offer_start_date_eq,class: 'date filterrific-periodically-observed') %>
                </div>
                 <div class="col-md-3">
                    <label><%= t('.offer_finish_date')%></label>
                    <%= f.search_field(:offer_finish_date_eq,class: 'date filterrific-periodically-observed') %>
                </div>

                <div class="col-md-3">
                    <br>
                    <%=f.submit :class =>"btn btn-info btn-block" %>
                </div>
                <div class="col-md-3">
                    <br>
                    <%= link_to "Limpiar Filtros", request.path, class:"btn btn-danger btn_white btn-block" %>
                </div>
            <% end %>
        </div>
    </div>
</div>    

<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel"  style="margin-bottom: 10px;">
  <span class="glyphicon glyphicon-filter"></span> <%= t('.filters')%> 
</button>


