<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-users"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"><%= User.all.count%></div>
						<div><%= t('.provider')%></div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<i class="pull-left"><a href="#" data-toggle="modal" data-target="#myModalProveedore"><%= t('.add_provider')%></a></i>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-truck"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"><%= Offer.all.count%></div>
						<div><%= t('.offers')%></div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<i class="pull-left"><a href="#" data-toggle="modal" data-target="#myModalOferta"><%= t('.add_offer')%></a></i>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-bookmark"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"><%= Product.all.count%></div>
						<div><%= t('.products')%></div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<i class="pull-left"><a href="#" data-toggle="modal" data-target="#myModalProducto"><%= t('.add_product')%></a></i>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-location-arrow"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge"><%= Location.all.count%></div>
						<div><%= t('.locations')%></div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<i class="pull-left"><a href="#" data-toggle="modal" data-target="#myModalLocation"><%= t('.add_location')%></a></i>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	
</div>

<%= render(partial: 'users/modal')%>
<%= render(partial: 'products/modal')%>
<%= render(partial: 'offers/modal_offer')%>
<%= render(partial: 'locations/modal')%>