<div class="page-header">
	<ol class="breadcrumb">
		<li class="active">
			<%if params[:index_2]%>
			<i class="fa fa-truck"></i> 
			<%= t('.head_3')%>
			<%elsif current_user.kind == "admin"%>
			<i class="glyphicon glyphicon-dashboard"></i> 
			<%= t('.head')%>
			<%else%>
			<i class="fa fa-truck"></i> 
			<%= t('.head_2')%>
			<%end%>
		</li>
	</ol>
</div>
<%if current_user.kind == "admin"%>
	<%= render(partial: 'offers/shortcuts') %>
	<%= render(partial: 'offers/filters') %>
	<hr>
	<p>
		Descargar:
		<%= link_to "CSV", offers_path(format: "csv") %> |
		<%= link_to "Excel", offers_path(format: "xls") %>
	</p>
<%end%>

<%= render(partial: 'offers/list',locals: { offers: @offers }) %>

<%= render(partial: 'modal_offer')%>

